.Code{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Code input{
    border: none;
    width: 90%;
    height: 40px;
    border-bottom: 1px solid #03a4ff;
    background: transparent;
    text-align: center;
    font-size: 17px;
    color: #03a4ff;
    text-transform: uppercase;
}

.Code input:focus{
    outline: none;
}

.Code p{
    font-size: 12px;
    margin-top: 10px;
    color: #4b4b52;
}

.Code input::placeholder{
    font-size: 12px
}

.scanner{
    position: absolute;
    z-index: 2;
    border: 1px solid #03a4ff;
    width: 60%;
    height: 20%;
    background: #03a3ff5e;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;

    border-radius: 5px;
}