.Code{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    position: relative;
}

.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 15px solid #083b58;
    z-index: 0;
    height: 350px;
    width: min(400px, 97vw);
    position: relative;
    background-color: #111115;
}
.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cutout{
    position: absolute;
    border: 15px solid #083b58;
    z-index: 0;
    height: 350px;
    width: min(400px, 100vw);
}

.over{
    position: absolute;
    z-index: 2;
    width: 100% !important;
    height: 100%
}

.secondPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(400px, 100vw);
    margin-top: 10px;
}
.over1{
    z-index: 1;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 10px;
}
.ok{
    background-color: lightgreen;
}

.fail{
    background-color: lightcoral;
}
.Okay{
    padding: 1px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
}

.retry{
   
    padding: 15px 20px;
    background: #03a4ff;
    color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 13px;
    display: none;
    cursor: pointer;
}
.retry:active{
    background: #4b4b52;
    outline: 1px solid #fff;
}
.modal{
    position: absolute;
    width: min(400px, 96vw);
    height: 300px;
    background-color: #ffffff;
    z-index: 98;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #111115;
}

.modal div{
    padding: 10px 30px;
    background-color: #2c7c39;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
}
.modal p {
    font-size: 12px;
}
.icon{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background-color: #2c7c39;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon svg{
    fill: #ffffff;
}
.modal2{
    position: absolute;
    width: min(400px, 96vw);
    height: 250px;
    background-color: #ffffff;
    z-index: 98;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #111115;
}

.modal2 div{
    padding: 10px 30px;
    background-color: #ca4e4e;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
}
.modal2 p {
    font-size: 12px;
}
.icon2{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background-color: #ca4e4e;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon2 svg{
    fill: #ffffff;
}
.modal3{
    position: absolute;
    width: min(400px, 96vw);
    height: 250px;
    background-color: #ffffff;
    z-index: 98;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #111115;
}

.modal3 div{
    padding: 10px 30px;
    background-color: #03a4ff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
}
.modal3 p {
    font-size: 12px;
}
.icon3{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background-color: #03a4ff;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon3 svg{
    fill: #ffffff;
}

.usercode{
    border: none;
    width: 90%;
    height:30px;
    border-bottom: 1px solid #ca4e4e;
    background: transparent;
    text-align: center;
    font-size: 14px;
    color: #ca4e4e;
    text-transform: uppercase;
}
.usercode2{
    border: none;
    width: 90%;
    height:30px;
    border-bottom: 1px solid #03a4ff;
    background: transparent;
    text-align: center;
    font-size: 14px;
    color: #03a4ff;
    text-transform: uppercase;
}

.scanner{
    position: absolute;
    z-index: 2;
    border: 1px solid #03a4ff;
    width: 80%;
    height: 20%;
    background: #03a3ff5e;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;

    border-radius: 5px;
}
.over1 p svg{
    fill: #111115;
}

.over1 p{
    display: inline-flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}