.Code{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    position: relative;
}

.Code textarea{
    border: none;
    width: min(450px, 95vw);
    min-height: 200px;
    resize: none;
    border: 1px solid #03a4ff;
    background: transparent;
    text-align: left;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    max-width: 450px;
}

.Code p{
    font-size: 12px;
    margin-top: 10px;
    color: #6e6e6e;
}
.Code h2{
    font-size: min(30px, 7vw);
    margin-bottom: 10px;
    color: #d8d8d8;
}
.Code input::placeholder{
    font-size: 12px
}

.scanner{
    position: absolute;
    z-index: 2;
    width: 80%;
    background: #fff;
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    color: #111115;
    border-radius: 5px;
    font-weight: 600;
    text-align: center;
    gap: 30px;
    cursor: pointer;
}

.scanner i {
    width: 70%;
    font-style: normal;
}
.scanner svg{
    width: 25px;
    height: 25px;
}

.icon{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #03a4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn {
    background: #03a4ff;
    color: #ffffff;
    padding: 10px 14px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
}

.btn:active{
    background: #0078bd;
}


