.Code{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    position: relative;
}

.scanner{
    position: absolute;
    z-index: 2;
    border: 1px solid #03a4ff;
    width: 60%;
    height: 40%;
    background: #03a3ff1a;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;

    border-radius: 5px;
}